* {
  font-family: Roboto, sans-serif;
  font-weight: lighter;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  /*background-color: rgba(61, 117, 100, 0.2);*/
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "n n n n n n n n n n n n"
    "i i i i i i i i i i i i"
    "h h h h h h h h h h h h"
    "s s s s s s s s s s s s"
    "a a a a a a a a a a a a"
    "f f f f f f f f f f f f";
}

nav {
  grid-area: n;
  background-color: rgba(52, 47, 95);
  padding: 10px 5px 10px 0px;
}

ul {
  list-style-type: none;
}

nav a {
  color: white;
  text-decoration: none;
  letter-spacing: 0.1em;
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.item {
  width: 100%;
  text-align: center;
  order: 4;
  display: none;
  padding: 0px 0px 5px 0px;
}

.toggle {
  order: 1;
  font-size: 1.3rem;
}

.item-home {
  order: 2;
}

.item-button {
  order: 3;
}

.item.active {
  display: block;
}

#navlogo {
  display: none;
}

.item-green {
  background-color: rgba(61, 117, 100, 0.8);
}

.coverphoto {
  grid-area: i;
  object-fit: cover;
  object-position: 45% 55%;
  width: 100%;
  height: 300px;
}

h1 {
  font-size: 50px;
}

header {
  grid-area: h;
  padding: 1rem;
}

section {
  grid-area: s;
  padding: 1rem;
}

aside {
  grid-area: a;
  padding: 1rem;
}

/* Desktop */
@media screen and (min-width: 670px) {
  body {
    grid-template-areas:
      "n n n n n n n n n n n n"
      "i i i i i i i i i i i i"
      "h h h h h h na na na na na na"
      "s s s s s s a a a a a a"
      "f f f f f f f f f f f f";
  }

  nav {
    padding: 0px 20px 0px 10px;
  }

  .item {
    display: block;
    order: 4;
    width: auto;
  }

  .toggle {
    display: none;
  }

  .item-home {
    order: 1;
  }

  .item-food {
    order: 2;
  }

  .logo {
    order: 3;
    margin: auto;
  }

  .button {
    order: 5;
  }

  .menu li {
    padding: 15px 10px;
  }

  #navlogo {
    display: inline-flex;
    height: 40px;
  }
}
